<!doctype html>
<html lang="en">

    <head>
        <!-- meta data -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">

    </head>
    <title> Shofirna Title Car</title>

    <body class="bodyFormat " id="myForm">
            <h1>hello, {{userr}}</h1>
        <div class="container">


            <!-- Form Div -->
            <div class="row ">

<!-- col-xs-12 col-sm-6 col-md-6 col-lg-6 -->
                
                <div style=" max-width: 750px" class="  col p-4  mt-2   border bg-light " id="formDiv">

                    <form class="registration-form" dir="rtl" action="/" method="get">

                        <!-- First Field Set in the form -->
                            
                            <div class="row ">
                                <div class="col required" >
                                    <label for="FullNameInput" class= "float-right small  " id="nameLabel"> <strong> الأسم </strong></label>
                                </div>
                            </div>




                            <div class="row">
                                <div class="form-group col-sm-4  ">
                                    {{form.first_name(class="form-control form-control-sm", placeholder="الإسم الاول")}}
                                </div>

                                <div class="form-group col-sm-4">
                                    {{form.father_name(class="form-control form-control-sm", placeholder="إسم الأب")}}

                                </div>
                                <div class="form-group col-sm-4">
                                    {{form.father_name(class="form-control form-control-sm", placeholder="إسم العائلة")}}

                                </div>
                            </div>



                            
                            <!-- First Div -->




                            <div class="row">
                                <div class="form-group col required">
                                    <label for="IDNumber" class="float-right small" id="IDNumberLabel"><strong>رقم الهوية</strong> </label>
                                    {{form.id(class="form-control form-control-sm") }} 

                                </div>
                                 
                            </div>



                            <hr class = "mt-2"size="30">

                             <div class="row">
                                
                                <div class="form-group col-sm-6 required">
                                    <label for="phoneNumber" class="float-right small" id="PhoneNumberLabel"><strong>رقم الهاتف</strong></label>
                                    {{form.mobile(class="form-control form-control-sm" )}}
                                </div>   
                                 
                                 <div class="col-sm-6 form-group"> 
                                    <label for="InputEmail1" class="float-right small"> <strong>الإيميل</strong></label> 

                                    {{form.email(class="form-control form-control-sm" )}}
                                </div> 
                            </div>




                            <hr class = "mt-2"size="30">

                            <div class="row ">

                                <div class="col required">
                                    <label for="FullNameInput" class=" float-right small "><strong> عنوان المنزل</strong></label>
                                </div>
                            </div>  
                            <div class="row">
                                <div class="form-group col-sm-6 col-md">
                                    
                                    {{form.home_city(class="form-control form-control-sm", id="city")}}
                                </div>

                                <div class="form-group col-sm-6 col-md">
                                    
                                    {{form.home_town(class="form-control form-control-sm", id="town")}}
                                </div>   
                            </div> 







                            <div class="row ">
                                <div class="col required">
                                    <label for="FullNameInput" class=" float-right small "><strong> عنوان مكان العمل</strong></label>
                                </div>
                            </div>  
                            
                            
                            
                             <div class="row">
                                <div class="form-group col-sm-6 col-md">
                                    
                                    {{form.work_city(class="form-control form-control-sm", id="cityWork")}}
                                </div>

                                <div class="form-group col-sm-6 col-md">
                                    {{form.work_town(class="form-control form-control-sm", id="townWork")}}
                                </div>   
                            </div>

                        <!-- Second Field Set in the form -->
                        
                                                    <hr class = "mt-2"size="30">

                            
                            
                            <div class="row">
                                <div class="form-group col-sm-6 col-md">
                                    <label for="carStatus" class="small float-right"><strong>السيارة</strong></label>
                                    
                                    {{form.car_type( class="form-control form-control-sm")}}
                                </div>
                                <div class="form-group col-sm-6 col-md">
                                    <label for="carYear" class="small float-right"><strong>سنة التصنيع</strong></label>
                                   
                                    {{form.car_year(class="form-control form-control-sm")}}
                                </div>
                            </div>


                            <hr class = "mt-2"size="30">


                            <div class="row">
                                <div class="form-group col-sm-6 col-md">
                                    <label for="carType" class="float-right small"><strong>الشركة المصنعة</strong></label>
                                    
                                    {{form.car_company(class="form-control form-control-sm ", id="carType")}}
                                </div>

                                <div class="form-group col-sm-6 col-md">
                                    <label for="carModel" class="float-right small"><strong>الموديل</strong></label>
                                   
                                    {{form.car_model(class="form-control form-control-sm", id="carModel")}}
                                </div>

                            </div>

                            <hr class = "mt-2"size="30">

                            <div class="row">
                                <div class="form-group col-sm-6 col-md">
                                    <label for="carColor" class="float-right small"><strong>لون السيارة</strong></label>
                                    
                                    {{form.car_color(class="form-control form-control-sm")}}
                                </div>
                                <div class="form-group col-sm-6 col-md">
                                    <label for="carCondition" class="float-right small"><strong>حالة السيارة</strong></label>
                                   
                                    {{form.car_condition(class="form-control form-control-sm")}}
                                </div>



                            </div>
                              <div class="row justify-content-md-center ">
                            
                            <div class="col-6  mt-3 " >
                                <button type="submit" class=" p-2 btn btn-primary btn btn-block btn-submit">
                                    <p class="h6 mb-0">  تسجيل     </p> </button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>

        </div>




        <!-- optional JavaScript Files -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
        
       <!-- <script type="text/javascript" src="MultiStepForm.js"></script> -->
        <script type="text/javascript" src="carModelDynamic.js"></script>
        <script type="text/javascript" src="DynamicAddress.js"></script>

    </body>


</html>