
        <div class="container">


            <!-- Form Div -->
            <div class="row ">

<!-- col-xs-12 col-sm-6 col-md-6 col-lg-6 -->
                
                <div style=" max-width: 750px" class="  col p-4  mt-2   border bg-light " id="formDiv">
                    
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}

                                <div class="alert alert-secondary" role="alert">
                                {{ message }}
                                </div>
                    
                            {% endfor %}
                
                        {% endif %}
                    {% endwith %}
                    <form class="registration-form" dir="rtl" action="/sign" method="POST">
                        {{ form.csrf_token }}

                        <!-- First Field Set in the form -->
                            
                            <div class="row ">
                                <div class="col required" >
                                    <label for="FullNameInput" class= "float-right small  " id="nameLabel"> <strong> الإسم </strong></label>
                                </div>
                            </div>




                            <div class="row">
                                <div class="form-group col-sm-4  ">
                                    {{form.first_name(class="form-control form-control-sm", placeholder="الإسم الاول")}}
                                </div>

                                <div class="form-group col-sm-4">
                                    {{form.father_name(class="form-control form-control-sm", placeholder="إسم الأب")}}

                                </div>
                                <div class="form-group col-sm-4">
                                    {{form.family(class="form-control form-control-sm", placeholder="إسم العائلة")}}

                                </div>
                            </div>



                            
                            <!-- First Div -->




                            <div class="row">
                                <div class="form-group col required">
                                    <label for="IDNumber" class="float-right small" id="IDNumberLabel"><strong>رقم الهوية</strong> </label>
                                    {{form.id(class="form-control form-control-sm") }} 

                                </div>
                                 
                            </div>



                            <hr class = "mt-2"size="30">

                             <div class="row">
                                
                                <div class="form-group col-sm-6 required">
                                    <label for="phoneNumber" class="float-right small" id="PhoneNumberLabel"><strong>رقم الهاتف</strong></label>
                                    {{form.mobile(class="form-control form-control-sm" )}}
                                </div>   
                                 
                                 <div class="col-sm-6 form-group"> 
                                    <label for="InputEmail1" class="float-right small"> <strong>الإيميل</strong></label> 

                                    {{form.email(class="form-control form-control-sm" )}}
                                </div> 
                            </div>




                            <hr class = "mt-2"size="30">

                            <div class="row ">

                                <div class="col required">
                                    <label for="FullNameInput" class=" float-right small "><strong> عنوان المنزل</strong></label>
                                </div>
                            </div>  
                            <div class="row">
                                <div class="form-group col-sm-6 col-md">
                                    
                                    {{form.home_city(class="form-control form-control-sm pt-0", id="city")}}
                                </div>

                                <div class="form-group col-sm-6 col-md">
                                        <select class="form-control form-control-sm pt-0" id="town" >
                                            <option value=''><strong>القرية</strong></option>
                                        </select>
                                </div>   
                            </div> 







                            <div class="row ">
                                <div class="col required">
                                    <label for="FullNameInput" class=" float-right small "><strong> عنوان مكان العمل</strong></label>
                                </div>
                            </div>  
                            
                            
                            
                             <div class="row">
                                <div class="form-group col-sm-6 col-md">
                                    
                                    {{form.work_city(class="form-control form-control-sm pt-0", id="cityWork")}}
                                </div>

                                <div class="form-group col-sm-6 col-md">
                                    <select class="form-control form-control-sm pt-0" id="townWork">
                                        <option value=''><strong>القرية</strong></option>
                                    </select>
                                </div>   
                            </div>

                        <!-- Second Field Set in the form -->
                        
                                                    <hr class = "mt-2"size="30">

                            
                            
                            <div class="row">
                                <div class="form-group col-sm-6 col-md">
                                    <label for="carStatus" class="small float-right"><strong>السيارة</strong></label>
                                    
                                    {{form.car_type( class="form-control form-control-sm pt-0")}}
                                </div>
                                <div class="form-group col-sm-6 col-md">
                                    <label for="carYear" class="small float-right"><strong>سنة التصنيع</strong></label>
                                   
                                    {{form.car_year(class="form-control form-control-sm pt-0")}}
                                </div>
                            </div>


                            <hr class = "mt-2"size="30">


                            <div class="row">
                                <div class="form-group col-sm-6 col-md">
                                    <label for="carType" class="float-right small"><strong>الشركة المصنعة</strong></label>
                                    
                                    {{form.car_company(class="form-control form-control-sm pt-0", id="carType")}}
                                </div>

                                <div class="form-group col-sm-6 col-md">
                                    <label for="carModel" class="float-right small"><strong>الموديل</strong></label>
                                   
                                    <select class="form-control form-control-sm pt-0" id="carModel">
                                        <option value=''><strong>الموديل</strong></option>
                                    </select>
                                </div>

                            </div>

                            <hr class = "mt-2"size="30">

                            <div class="row">
                                <div class="form-group col-sm-6 col-md">
                                    <label for="carColor" class="float-right small"><strong>لون السيارة</strong></label>
                                    
                                    {{form.car_color(class="form-control form-control-sm pt-0")}}
                                </div>
                                <div class="form-group col-sm-6 col-md">
                                    <label for="carCondition" class="float-right small"><strong>حالة السيارة</strong></label>
                                   
                                    {{form.car_condition(class="form-control form-control-sm pt-0")}}
                                </div>



                            </div>
                              <div class="row justify-content-md-center ">
                            
                            <div class="col-6  mt-3 " >
                                <button type="submit" class=" p-2 btn btn-primary btn btn-block btn-submit">
                                    <p class="h6 mb-0">  تسجيل     </p> </button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>

        </div>




        <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>


       <!-- <script type="text/javascript" src="MultiStepForm.js"></script> -->
        <script type="text/javascript" src="/carModelDynamic.js"></script>
        <script type="text/javascript" src="/DynamicAddress.js"></script>

